 css 
 
 body {
    margin: 0;
    font-family: Arial;
}

header {
    background: black;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

header a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.hero {
    background: lightgray;
    text-align: center;
    padding: 60px;
}

section {
    padding: 30px;
}

.project {
    background: #eee;
    padding: 15px;
    margin-top: 10px;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;   /* round image */
    object-fit: cover;
    margin-bottom: 15px;
}

.hero {
    background-image: url('img.baground.jpg');  /* background image path */
    background-size: cover;                  /* poora section cover ho jaye */
    background-position: center;             /* image center me dikhe */
    background-repeat: no-repeat;            /* repeat na ho */
    text-align: center;                       /* text center me dikhe */
    padding: 60px 20px;                       /* upar neeche space */
}